.container {
  display: block;
}

.header {
  display: block;
  background-color: blue;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 50px;
  border: 10px white solid;
}

.second_container {
  display: grid;
  grid-template-columns: 20% 80%;
  color: white;
  align-content: center;
  text-align: center;
}

.left_sidebar {
  background-color: green;
  padding: 100px;
  border: 10px white solid;
}

.content {
  background-color: yellow;
  color: black !important;
  padding: 100px;
  border: 10px white solid;
}
